@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.726);
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: white;
   margin-top: 250px;
   text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
nav{
    text-align: right;
    background-color: brown;
    padding-top: 20px;
    padding-bottom: 20px;
   
   
}
.navbar{
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.664);;
    font-size: 1.5em;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar:hover{
    background-color: turquoise;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
main{
    background-color: turquoise;
    max-width: 1345px;
    height: 1000px;
    margin: auto;
    margin-top: 200px;
    display: block;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    font-size: 3.0em;
    padding-top: 100px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.664);
}
hr{
    width: 720px;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 100px;
    padding: 0.5px;
    background-color: white;
    
}
p{
    text-align: center;
    margin-bottom: 20px;
    color: white; 
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
article {
   text-align: center;
  
}
a{
   text-decoration: none;
   color: white;
   font-size: 1.6rem;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 50px;
  
}
footer{
    margin-top: 50px;
    text-align: left;
    padding-left: 100px;
    color: white; 
    font-size: 1.5em;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
img{
    max-width: 100%;
    width: 500px;
    height: 203px;
    margin: 30px;
   /* object-fit: contain;*/
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.664);
     
}

